// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.current-degrees{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        max-width: 80px;
    }
}

.hourly{
    overflow-x: scroll ;
    white-space: nowrap;
    img{
        width: 50px;
    }
    .col-xs-3{
        display: inline-block;
        float: none;
    }
}
